<a href="https://colab.research.google.com/github/therealryanlam/ryan_lam1/blob/main/TIM50_Ryan_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
(  Flight_Number INT,
  Date VARCHAR(10),
  Airline_Code VARCHAR(5),
  Departure_Airport VARCHAR(3),
  Arrival_Airport VARCHAR(3),
  Scheduled_Departure VARCHAR(5),
  Scheduled_Arrival VARCHAR(5),
  Flight_Status VARCHAR(20)
);

In [ ]:
CREATE TABLE flights (
  Flight_Number INT,
  Date VARCHAR(10),
  Airline_Code VARCHAR(5),
  Departure_Airport VARCHAR(3),
  Arrival_Airport VARCHAR(3),
  Scheduled_Departure VARCHAR(5),
  Scheduled_Arrival VARCHAR(5),
  Flight_Status VARCHAR(20)
);

LOAD DATA INFILE 'flights-2.csv'
INTO TABLE flights
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

In [ ]:
CREATE TABLE aircrafts (
  Tail_Number VARCHAR(6),
  Manufacturer VARCHAR(30),
  Model VARCHAR(30),
  Aircraft_Type VARCHAR(30),
  Engine_Type VARCHAR(30)
);

LOAD DATA INFILE 'aircrafts.csv'
INTO TABLE aircrafts
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

In [ ]:
SELECT * FROM flights LIMIT 5;
SELECT * FROM aircrafts LIMIT 5;

In [ ]:
DESC flights;
DESC aircrafts;

In [ ]:
SELECT COUNT(*) FROM flights;
SELECT COUNT(*) FROM aircrafts;

In [ ]:
SELECT COUNT(22) FROM flights;
SELECT COUNT('20', 'UA', 'San Jose', 'London' Date) FROM flights;
SELECT COUNT(DISTINCT Airline_Code) FROM flights;
SELECT COUNT(DISTINCT Departure_Airport) FROM flights;
SELECT COUNT(DISTINCT Arrival_Airport) FROM flights;
SELECT COUNT(DISTINCT Scheduled_Departure) FROM flights;
SELECT COUNT(DISTINCT Scheduled_Arrival) FROM flights;
SELECT COUNT(DISTINCT Flight_Status) FROM flights;

In [ ]:
DROP TABLE IF EXISTS flights;
CREATE TABLE flights (
  Flight_Number INT PRIMARY KEY,
  Date DATE,
  Airline_Code VARCHAR(5),
  Departure_Airport VARCHAR(3),
  Arrival_Airport VARCHAR(3),
  Scheduled_Departure TIME,
  Scheduled_Arrival TIME,
  Flight_Status VARCHAR(20)
);

DROP TABLE IF EXISTS aircrafts;
CREATE TABLE aircrafts (
  Tail_Number VARCHAR(6) PRIMARY KEY,
  Manufacturer VARCHAR(30),
  Model VARCHAR(30),
  Aircraft_Type VARCHAR(30),
  Engine_Type VARCHAR(30)
);

In [ ]:
SELECT SUM(Passengers) 
FROM flights 
WHERE Departure_Airport = 'DEN' AND Arrival_Airport = 'SFO' AND Stops = 0;

In [ ]:
SELECT MAX(Passengers) 
FROM flights 
WHERE (Departure_Airport = 'DEN' OR Departure_Airport = 'SAN') 
AND Arrival_Airport = 'SFO' 
AND Aircraft LIKE '7%';